---

---

<div class="container-sponsors">
    <img class="img-1" src="assets/desktop/spotify.svg" alt="Patrocinador Spotify">
    <img class="img-2" src="assets/desktop/apple-podcast.svg" alt="Patrocinador Apple podcast">
    <img class="img-3" src="assets/desktop/google-podcasts.svg" alt="Patrocinador Google podcast">
    <img class="img-4" src="assets/desktop/pocket-casts.svg" alt="Patrocinador Pocket">
</div>
<style>
    .container-sponsors{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 40px;
    }
    @media (width <= 675px){
        .container-sponsors{
            justify-content: center;
            gap: 16px;

            .img-1{
                width: 55.943px;
                height: 16.948px;
            }
            .img-2{
                width: 45px;
                height: 17px;
            }
            .img-3{
                width: 73px;
                height: 11px;
            }
            .img-4{
                width: 77px;
                height: 15px;
            }
        }
    }
</style>
    